.login{
    min-height: 100%;
    overflow: hidden;
}

.logo-login{
    padding: 1.5rem 0 0 1.5rem;
    width: 167px;
}
.logo-login img{
    width: 100%;
}
.bg-wrapper{
    background: linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.8) 100%), url('../../resource/login/bglogin.jpg') center/cover no-repeat;
    min-height: 100vh;
    height: 100%;
  

}

.form-wrapper{
    height: 630px;
    width: 450px;
    background: rgba(0,0,0,0.75);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

.form-wrapper h1{
    font-size: 2rem;
    font-weight: 700;
}
.form-content-wrapper{

    width: 314px;
}

.form input{
    height: 50px;
    padding: 1rem;
    background-color: #333333;
    width: 100%;
    border-radius: 4px;
    margin-bottom: 1rem;
}

.sign-in-btn{
    background: #E50914;
    width: 100%;
    height: 48px;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 4px;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    
}

.form-under-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
}

.form-under-text a{
    text-decoration: none;
    color: #b3b3b3;
}

.form-under-text label{
    color: #b3b3b3;

}

.form-wrapper .para{
    text-align: left;
}

.form-wrapper .captcha{
    font-size: 13px;
    color: #8c8c8c;
    padding-top: 1rem;
}

.form-footer{
    width: 314px;
    padding-top: 7rem;
}

.login-footer{
    background: rgba(0,0,0,0.75);
    margin-top: 6rem;
}

.login-footer-container{
    width: 1000px;
    margin: 0 auto;
    padding-top: 2rem;
}

.login-footer-elements{
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 3rem;

}

.login-footer-list{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.login-footer-list p{
    color: #737373;
    font-size: 13px;
}


.login-call_num{
    color: #737373;
    font-size: 1rem;
}

.login-call_num a{
    color: #737373;
    text-decoration: none;
}