.sec2{
    background: #000;
    border-bottom: 0.5rem solid #222;
    display: flex;
    align-items: center;
    padding: 1rem 6rem 3rem;
    gap: 2rem;
}

.tv{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 550px;
    width: 100%;

}

.tv img{
    width: 100%;
    z-index: 2;
}

.tv .video1{
    position: absolute;
    width: 73%;
    height: 58%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.video1 video{
    width: 100%;
}

